@import "tailwindcss";

@theme {
  --font-display: "Lexend", sans-serif;
  --font-sans: "Lexend", sans-serif;

  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2c20;
  --color-text-main: #0d1b12;
  --color-text-light: #e7f3eb;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-light);
  color: var(--color-text-main);
}

/* Hide scrollbar for chrome/safari/opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%) skewX(-12deg);
  }

  100% {
    transform: translateX(150%) skewX(-12deg);
  }
}